body {
    background-color: #fbfbea;
    font-family: Georgia, serif;
    font-size: 20px;
}

h1 {
    text-align: center;
    background-color: #ebf5d6;
    font-size: 50px;
}

.ingredients {
    background-color: #ebf5d6;
}

img {
    height: auto;
    width: 700px
}

.image {
    height: 253px;
    width: auto;
}

.recipes {
    background-color: #ebf5d6;
    font-size: 26px;
    text-align: center;
}